{% extends "base.html" %}

{% block title %} Casse_brique {% endblock %}

{% block head %}
    <style>
        * { padding: 0; margin: 0; }
        canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
{% endblock %}

{% block content %}
    <br>    
    <canvas id="myCanvas" width="480" height="320"></canvas>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 col-md-offset-2">
                <button onclick="add_score()" class="btn btn-primary btn-block">Submit Score</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/casse_brique.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock%}
