{% extends "base.html" %}

{% block title %} Casse_brique {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
   

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron bg-dark text-white">
                    <h1 class="display-5">Casse-brique</h1>
                    <img src="../static/img/casse-brique.png" class="img-fluid" alt="Responsive image">
                    <p class="lead">Prenez votre palette et venez à bout de toutes les briques !</p>
                    <a class="btn btn-primary btn-lg" href="casse_brique" role="button">Jouer</a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron bg-dark text-white">
                    <h1 class="display-5">Snake</h1>
                    <img src="../static/img/snake.jpeg" class="img-fluid" alt="Responsive image">
                    <p class="lead">Donnez à manger à votre serpent pour devenir le plus grand possible</p>
                    <a class="btn btn-primary btn-lg" href="snake" role="button">Jouer</a>
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="jumbotron bg-dark text-white">
                    <h1 class="display-5">Pong</h1>
                    <img src="../static/img/pong.png" class="img-fluid" alt="Responsive image">
                    <p class="lead">Défiez vous avec le célèbre jeu pong</p>
                    <a class="btn btn-primary btn-lg" href="pong" role="button">Jouer</a>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}