{% extends "base.html" %}

{% block title %} Scores Casse_brique {% endblock %}

{% block content %}
    <h1>Scores !</h1>

    <form action="/add_score" method="POST">
        <input type="text" name="pseudo"></input>
        <input type="text" name="score"></input>
        <input type="text" name="game"></input>
        <input type="submit"></input>
    </form> 
    
    <div class="container pt-3">
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Game</th>
                <th>Pseudo</th>
                <th>Score</th>
                <th>Date</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for key in data %}
                    <tr>
                    <td>{{key[1]}}</td>
                    <td>{{key[2]}}</td>
                    <td>{{key[3]}}</td>
                    <td>{{key[4]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
{% endblock%}